.payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 88px;
}

.text-conteudo {
    width: 312px;
}

.bag {
    background: url(../img/clothes-card.png) no-repeat;
    background-size: cover;
}

.passport {
    background: url(../img/passport-card.png) no-repeat;
    background-size: cover;
    
}

.people {
    background: url(../img/bridge-card.png) no-repeat;
    background-size: cover;
    grid-column: span 2;
}

.img-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bag passport" 
    "bridge bridge";
    gap: 24px;
    margin-top: 24px;
    width: 312px;
    height: 460px;
}

@media screen and (min-width: 768px) {
    .text-conteudo {
        width: 648px;
    }

    .img-content {
        width: 648px;
        height: 460px;
    }
}

@media screen and (min-width: 1440px) {
    .content-pag {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    
    .text-conteudo {
        width: 384px;
    }

    .img-content {
        margin-top: 0;
        width: 790px;
        height: 460px;
    }
}
