.testimonials {
    margin-bottom: 88px;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 24px;
}

.testimonials-container footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 48px;
  margin-top: 18px;
  align-items: center;
}

.depoimento-card p {
  margin-bottom: 8px;
}

.nome-do-cara-que-postou-o-depoimento {
  font-size: 20px;
  font-weight: var(--title-weight);
  margin: 0;
}

.star {
  color: var(--button-secondary);
  font-size: 32px;
}

@media screen and (min-width: 1440px){
    .testimonials-container header {
        padding: 0;
    }

    .depoimento-card {
        width: 384px;
    }

    .testimonials-container {
        width: 100vw;
        margin: 0;
        flex-direction: row;
        gap: 0;
        justify-content: space-around;
    }
}
